.creator {
    color: rgb(218, 165, 32);
    margin: 4px;
    text-transform: uppercase;
}
.navbar {
    background-color: rgb(32, 37, 37);
}

.navbar-brand {
    color:rgb(231, 46, 0);
    text-transform: uppercase;
    text-decoration: double;
    font-weight: 900;
}

.footer {
    background-color: rgb(32, 37, 37);
}

.footer-text {
    color: rgb(218, 165, 32);
    text-align: center;
}

.footer-icon {
    color: rgb(231, 104, 0);
    text-align: center;
}

.main-bg {
    background-color: rgb(121, 121, 121);
    background-image: url(https://i.pinimg.com/564x/34/23/dd/3423dd836c29940d5ec0294bf855c9cd.jpg);
}

.card-background {
    background-color: rgb(32, 37, 37);
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.card {
    border: none;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.about-image {
    width: 100%;
}
.index-image-container {
    height: 80vh;
    overflow: hidden;
    background-color: rgb(32, 37, 37);
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.index-char-image {
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.nav-link {
    color: rgb(218, 165, 32);
}

.nav-link:hover {
    color: rgb(231, 104, 0);
}

.log-text {}





/* Need to go over these...not custom--testing only*/
.scale {
    width: 60%;
    height: auto;
    
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.faded {
    color: rgb(172, 175, 175);
}