/* Base.html style */
.navbar {
    background-color: rgb(32, 37, 37);
} 

.navbar-light {
    .navbar-brand {
        color:rgb(231, 46, 0);
        text-transform: uppercase;
        text-decoration: double;
        font-weight: 900;
        pointer-events: none; 
    }
  
    .navbar-nav {
      .nav-link {
        color: rgb(218, 165, 32);
  
        &:hover,
        &:focus {
            color: rgb(231, 104, 0);
        }
  
        &.disabled {
            color: rgb(218, 165, 32);
        }
      }
  
      .show > .nav-link,
      .nav-link.active {
        color: rgb(255, 238, 3);
      }
    }
  
    .navbar-toggler-icon {
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(218, 165, 32)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    .navbar-toggler {
        border-color: rgb(218, 165, 32);
    }
}

.footer {
    background-color: rgb(32, 37, 37);
}

.footer-text {
    color: rgb(218, 165, 32);
    text-align: center;
}

.footer-icon {
    color: rgb(218, 165, 32);
    text-align: center;
}

.main-bg {
    background-color: rgb(121, 121, 121);
    background-image: url(https://i.pinimg.com/564x/34/23/dd/3423dd836c29940d5ec0294bf855c9cd.jpg);
}

.log-text {
    color: rgb(218, 165, 32);
    background-color: rgb(32, 37, 37);
    opacity: .85;
    display: inline-flex;
}


/* index.html style */

.card-background {
    background-color: rgb(32, 37, 37);
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    background-image: linear-gradient(rgb(206, 206, 206), rgb(32, 37, 37));
}


.card {
    border: none;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.index-image-container {
    max-height: 80vh;
    overflow: hidden;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.index-char-image {
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    max-height: auto;
    max-width: 100%;

   
}

.creator {
    color: rgb(231, 104, 0);
    margin: 4px;
    text-transform: uppercase;
    text-align: left;
}

.created-on-text {
    color: rgb(231, 104, 0);
    font-size: larger;
}

.image-title, .image-text {
    color: rgb(218, 165, 32);
    text-decoration: none;
    text-align: center;
}

a {
    text-decoration: none;
}

.page-button {
    color: rgb(218, 165, 32);
    border-color: rgb(218, 165, 32);
    border-style: solid;
    background-color: rgb(32, 37, 37);
    border-radius: 25%;
    padding: 6px 6px;
    font-weight: 600;
}

.page-button:hover {
    color: rgb(231, 104, 0);
    border-color: rgb(231, 104, 0);
    background-color: rgb(32, 37, 37);
}

/* My characters page */

.delete-char-button {
    background-color:rgb(206, 206, 206);
    color: rgb(32, 37, 37);
    border-radius: 25%;
    border-style: solid;
    border-color:rgb(32, 37, 37);
    padding: 8px 8px;
    font-weight: 500;
}

.delete-char-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color: rgb(255, 255, 255);
}

.edit-char-button {
    background-color:rgb(206, 206, 206);
    color: rgb(32, 37, 37);
    border-radius: 25%;
    border-style: solid;
    border-color:rgb(32, 37, 37);
    padding: 8px 8px;
    font-weight: 500;
}

.edit-char-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-style: solid;
    border-color: rgb(255, 255, 255);  
}

/* Modal for delete character */
#delete-char-modal {
    color: rgb(231, 46, 0);    
}

.modal-body {
    color: rgb(218, 165, 32);
}
.modal-content {
    background-image: linear-gradient(rgb(206, 206, 206), rgb(32, 37, 37));
}

.btn {
    border-radius: 25%;
}

/* Edit Character Form ids taken from crispy forms*/
main {
    color: rgb(218, 165, 32);
}

main h2 {
    text-align: center;
    color: rgb(231, 46, 0);
    text-transform: uppercase;
    font-weight: 800; 
}

form {
    text-align: left;
    max-width: 50%;
    display: grid;
    margin: auto;
    background-color: rgb(32, 37, 37);
    padding: 18px;
    opacity: .95;
}

.input-group-text,
#id_race,
#id_gender,
#id_class_archetype,
.form-control,
.form-control:focus,
#id_title:focus,
#id_weapons:focus,
#id_armor:focus,
#id_description:focus,
#id_excerpt:focus {
    color: rgb(255, 238, 3);
    border-color: rgb(255, 238, 3);
    border-style: solid;
    background-color: rgb(32, 37, 37);
}

form > button[type="submit"]:last-child {
    color: rgb(231, 46, 0);
    border-color: rgb(231, 46, 0);
    border-style: solid;
    background-color: rgb(32, 37, 37);
}


/* Media query for Forms Only to give better width */
@media screen and (max-width: 768px) {
    form {
        max-width: 100%;
    }
}



/* About page */

.about-image {
    width: 100%;
}







/* Need to go over these...not custom--testing only*/
.scale {
    width: 60%;
    height: auto;
    
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.faded {
    color: rgb(172, 175, 175);
}